.LicChieuCTP{
    display: flex;
    border: 1px solid #f1f1f1;
    height: 600px;
    background-color: #ffffff;
    .LicChieuCTP-right{
        width: 70%;
    }
    .LicChieuCTP-left{
        width: 30%;
    }
}