.dangnhap{
    form{
        .form-group{
            .form-control{
                box-shadow: none;
            }
        }
        button{
            background-color: #fb4226;
            color: white;
            opacity: 1;
            &:hover{
                opacity: .9;
                color: white;
            }
            &:focus{
                box-shadow: none ;
               

            }
            
        }
    }
}