#carouselExampleIndicators{
    margin-top: 70px;
    .carousel-indicators{
        li{
            width: 10px;
            height: 10px;
            border-radius: 100%;
            &.active{
                background-color: #fb4226;
            }
        }
    }
}