.lichchieu-container{
    ::-webkit-scrollbar {
      width: 2px;
    }
   
    height: 500px;
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    ::-webkit-scrollbar-thumb {
      background: #9b9b9b;
    }
  
    .lichchieu-list{
      height: 100%;
      overflow-y: auto;
      .lichchieu-item{
        margin-bottom: 2rem;
        .lichchieu-movie{
          display: flex;
          cursor: pointer;
          transition: all .5s;
          .lichchieu-img{
            // width: 50px;
            // height: 50px;
            margin-right: 1rem;
            img{
              // width: 100%;
              // height: 100%;
              width: 50px;
              height: 50px;
              border-radius: 2px;
            }
          }
          .lichchieu-right{
            width: 100%;
           
            .movie-name{
              // display: flex;
              width: 100%;
              padding-left: 1rem;
              p{
                margin: 0;
                // padding: 0 .5rem;
                &:first-child{
                  font-weight: bold;
                

                }
              
              }
              
              }
              .lichchieu-danhgia{
                color: #a4a4a4;
                text-align: right;
                margin-right: 1rem;
            }
          
            
          }
        
        }
        .view-time{
          .view-clock{
            margin: .6rem 0;
          }
          .view-show{
            a{
              margin-right: .5rem;
              &:focus{
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  
  }
  
  