.thongtinphim{
    div{
        div{
            &.heading{
                padding-left: 60px;
            }
            h5{
                color: white;
            }
            p{
                color: wheat;
            }
        }
    }

}
