.nav-mobile{
   position: absolute;
   width: 100vw;
   height: 100vh;
   left: 100vw;
   z-index: 100;
   background-color: white;
  
   p{
       text-align: center;
       cursor: pointer;
       transition: all .5s;
       &:hover{
           color:red ;
       }
   }
   i{
       margin-left: 2rem;
       margin-top: .5rem;
       font-size: 20px;
       cursor: pointer;
    //    font-weight: lighter;
   }
}