.cardmovie {
    position: relative;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    margin:  0 1rem ;
    box-shadow: 10px 10px 5px #aaaaaa;;
    .cardmovie__img {
      width: 100%;
      height: 400px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        transition: all .5s;
      }
     
    }
    .cardmovie__infor {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: translateX(-110%);
      transition: all 0.5s;
      overflow-x: hidden;
      div {
        position: absolute;
        width: 99%;
        top: 50%;
        transform: translateY(-50%);
  
        text-align: center;
        .btn_readmore {
          margin-left: 1rem;
          margin-bottom: 1rem;
          padding: 1rem;
          border-radius: 4px;
          color: white;
          border: 1px solid #fb8f3d;
          background: -webkit-linear-gradient(top, #fda251, #fb8f3d);
       
          &:hover {
            border: 1px solid #eb5200;
            background: -webkit-linear-gradient(top, #fd924c, #f9760b);
           
            box-shadow: 0 1px #efefef;
          }
          &:active {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
          }
          &:focus {
            outline: none;
          }
        }
  
        .btn_trailer {
        display: inline-block;
         
          padding: 1rem;
          border-radius: 4px;
          margin-left: 1rem;
          margin-bottom: 1rem;
          background: -webkit-linear-gradient(top, #dd4b39, #d14836);
        //   background: -moz-linear-gradient(top, #dd4b39, #d14836);
        //   background: -ms-linear-gradient(top, #dd4b39, #d14836);
          border: 1px solid #dd4b39;
          color: white;
          text-shadow: 0 1px 0 #c04131;
          &:hover {
            background: -webkit-linear-gradient(top, #dd4b39, #c53727);
            // background: -moz-linear-gradient(top, #dd4b39, #c53727);
            // background: -ms-linear-gradient(top, #dd4b39, #c53727);
            border: 1px solid #af301f;
          }
          &:active {
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
            background: -webkit-linear-gradient(top, #d74736, #ad2719);
            background: -moz-linear-gradient(top, #d74736, #ad2719);
            background: -ms-linear-gradient(top, #d74736, #ad2719);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  
    .cardmovie_service {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      opacity: 1;
      transition: all 0.5s;
      padding: 0.4rem;
  
       background-color: rgba(0, 0, 0, 0.8);
      h5 {
        text-align: center;
        // color: #EFEFEF;
       color: white;
       font-weight: bold;
       font-size: 18px;
      }
      div {
        // position: absolute;
        // bottom: 0;
        // right:  0;
        // width: 100%;
       text-align: right;
        margin: 0;
        // color: #e0d9d9;
      }
    }
    &:hover .cardmovie_service {
      opacity: 0;
    }
    &:hover .cardmovie__infor {
      transform: translateX(0);
      display: block;
    
    }
   
  }