.cinema-systems{
    display: flex;
    justify-content: space-around;   
    margin-bottom: 2rem;
    .cinema-system{
      opacity: 0.4;
      transition: all.5s;
      cursor: pointer;
      &.active-system{
          opacity: 1;
      }
      img{
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 100%;
      }
      &:hover{
        opacity: 1;
      }
    }
  }
